/* General Style */

.introBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.contentBlock {
    width: 400px;
    height: 420px;
}

/* Titles and text */

.title {
    text-shadow: 2px 2px #ec3e3e;
    font-size: x-large;
    margin-top: 20px;
    text-align: center;
}

.description {
    margin-top: 70px;
}

.styleSpan {
    font-size:xx-large;
    color: rgb(255, 0, 0);
    text-shadow: 4px 2px rgb(22, 20, 20);
    background-color: rgb(61, 66, 66);
    border-radius: 30%;
}

/* Images */

.imgIntro {
    width: 100vw;
}

.bStaff {
    width: 400px;
}


